.tinder {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(229, 175, 196);
    height: 100vh;
  }
  
.tinder_cardContainer {
    position: relative;
    width: 320px;
    height: 400px;
    overflow: hidden;
  }